*{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
body{
    background-color: #c4c4c4;
}
#nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #b6b6b6;
    z-index: 1000;
}
.nav_bar{
    position: absolute;
    height: 20px;
    text-decoration: none;
    text-align: center;
    opacity: 0.50;

}
#home{
    margin-top: 40px;
    margin-left: 50px;
}
#contact{
    margin-top: 40px;
    margin-left: 150px;
}
#about{
    margin-top: 40px;
    margin-left: 270px;
}
.uli{
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
#stt{
    margin-top: 40px;
    margin-left: 80%;
    width: 20%;
}
#nav_despl2{
    position: absolute;
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-left: 80%;
    transition: 0.3s;
}
#nav_despl{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: 35px;
    margin-left: 80%;
    transition: 0.3s;
}
#particles-js{
    z-index: -11;
    position: fixed;
    width: 100%;
    height: 100vh;
}
#cntctForm{
    position: absolute;
    width: 30%;
    height: 400px;
    margin-top: 230px;
    margin-left: 35%;
}
.cnt{
    margin-left: 40%;
    text-align: center;
}
#pt{
    position: absolute;
    width: 20%;
    text-decoration: none;
    margin-left: 80%;
    margin-top: 10px;
}
#cntctName{
    width: 50%;
    font-size: 15px;
    color: black;
    margin-left: 25%;
}
#cntctEmail{
    width: 50%;
    font-size: 15px;
    color: black;
    margin-left: 25%;
}
#cntctMessage{
    width: 100%;
    height: 160px;
    font-size: 15px;
    color: black;
    resize: none;
}
#text1{
    position: absolute;
    margin-top: 150px;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    font-size: 40px;
}
h1{
    font-size: 2em;
}
#article0{
    position: absolute;
    width: 60%;
    height: 1000px;
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 200px;
}
#post0{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
footer{
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: #b6b6b6;
    margin-top: 1400px;
}
.POST0{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 19px;
}
#go{
    position: absolute;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 14%;
    margin-left: 43%;
    margin-top: 840px;
    color: rgb(0,80,250);
    font-size: 20px;
}